body {
  background: linear-gradient(135deg, #0c8e37, #37eea2);
  font-family: Arial;
  color: white;
}

.container {
  width: 400px;
  margin: auto;
  padding-top: 40px;
}
.container h1{
  text-align:center;
  color:rgb(239, 236, 230);
  font-size:40px;
}
.card {
  background: #0c0d0d;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 0 12px rgba(13, 15, 14, 0.2);
}

input, select, button {
  width: 97%;
  padding: 10px;
  margin-top: 10px;
}
.card>#userId{

  width:90%;
}
button {
  background: #1feb3d;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

img {
  width: 180px;
  margin-top: 15px;
}

